@page
@model Howzit.Pages.WelcomeModel
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <div style="text-align:center; margin-top:50px;">
        <h1>Welcome to SocialFeed</h1>
        <button onclick="location.href='/Login'" style="margin:10px;">Login</button>
        <button onclick="location.href='/Signup'" style="margin:10px;">Sign Up</button>
    </div>
</body>
</html>
